extends layout

block content
  h1= title
  div#admin-area
     h5 Enter Information for a Clio Site
     hr
     form(method='post',action='')
         label(for='name') Clinic Site:
         input(type='text',name='name',id='name') 
         label(for='descrip') Description:
         input(type='text',fname='descrip',id='descrip') 
         label(for='phone') Authorization Token
         input(type='text', phone='token',id='token')  
         input(type='submit',name='submit',value='Submit').submit-button
     hr