extends layout

block content
  div#admin-area
    h5 Linked Accounts
    a(class='btn btn-primary',href="/clioAuth") Add an Account
    if accounts.length
      table.table.table-striped
        tr
          th Account Name
          th
        each account in accounts
          tr
            td= account.name
            td
              a(href="#") Remove

    hr