extends layout


block content
  div#admin-area
    ul.nav.nav-tabs
      li
        a(href='#accounts',data-toggle="tab") Accounts
      li(data-toggle="tab")
        a(href='#users',data-toggle="tab") Users
  div#tab-content.tab-content
    div#accounts.tab-pane.active
      h5 Linked Accounts
      if accounts.length
        table.table.table-striped
          tr
            th Account Name
            th
          each account in accounts
            tr
              td= account.name
              td
                a.btn.btn-sm.btn-warning(href="/remove_account/" + account.id) Remove
                if account.authenticationRequired
                  a.btn.btn-sm.btn-danger(href="/clioAuth") Reauthenticate
      a(class='btn btn-primary',href="/clioAuth") Add an Account
    div#users.tab-pane.fade
      h5 Users
      if users.length
        table.table.table-striped
          tr
            th User Email
            th
            th
            th
          each user in users
            tr
              td= user.email
              td= (user.admin === true ? 'Admin' : '')
              td
                a.btn.btn-sm.btn-info(href="/users/" + user.id + "/edit") Edit
              td
                a.btn.btn-sm.btn-warning(href="/remove_user/" + user.id) Remove
      if req.user.admin === true
      a(class='btn btn-primary',href="/signup") Add a New User
    hr
