extends layout

block content
  .app(ng-app='clioClientSearch')
    .search(ng-controller='SearchController')
      form.form-inline
        input.form-control(type='text', ng-model='searchTerm', placeholder='Search for Clients')
        input.btn.btn-default(type='submit', ng-click='search()') Search
        button.btn.btn-default(style="margin-left: 10px;", ng-csv='exportContacts()', filename='{{exportFilename()}}', csv-header='exportHeaders') Export

      .search-results.col-md-13(ng-if='hasSearched')
        p.search-summary {{vm.accountsSearched}} of {{vm.totalAccounts}} completed
        div.results(ng-switch="vm.isLoading")
          clioloader(ng-switch-when='true')
          .grid-style(ng-grid="vm.gridOptions", ng-switch-when='false')

      .contact-details.col-md-5(ng-if='hasSearched')
        h3 Selected Contact Details
        p.prompt(ng-if='!vm.selectedContacts.length')
          | Click on a contact from the search results to see their details
        ul(ng-if='vm.selectedContacts.length')
          li.selected-contact(ng-repeat='contact in vm.selectedContacts')
            contactdetails(contact='contact', remove-contact='toggleContact(contact)')