extends layout

block content
  #title-space
    h1= title
  nav
    - var nav = {}; nav[title] = 'active'
    ul
      li(class='#{nav.query}') 
        a(href='/query') Check for Conflict
      li(class='#{nav.admin}') 
        a(href='/Admin') Administration
  