extends layout

block content
  .app(ng-app='clioClientSearch')
    .search(ng-controller='SearchController')
      form.form-inline
        input.form-control(type='text', ng-model='searchTerm', placeholder='Search for Clients')
        input.btn.btn-default(type='submit', ng-click='search()') Search

      .search-results.col-md-6(ng-if='hasSearched')
        .search-account.col-md-12(ng-repeat="account in vm.accounts")
          header(ng-click='toggleAccount(account)')
            h4 {{account.name}}
            p ({{account.contacts.length}} matching contacts)
          div.results(ng-switch="account.isLoading", ng-show="!account.isCollapsed")
            clioloader(ng-switch-when="true")
            ul.account-contacts.list-unstyled(ng-switch-when="false")
              li.account-contact(ng-repeat="contact in account.contacts", ng-click='toggleContact(contact, account.name)')
                personsummary(ng-if='contact.type=="Person"', person='contact')
                companysummary(ng-if='contact.type=="Company"', company='contact')

      .contact-details.col-md-6(ng-if='hasSearched')
        h3 Selected Contact Details
        p.prompt(ng-if='!vm.selectedContacts.length')
          | Click on a contact from the search results to see their details
        ul(ng-if='vm.selectedContacts.length')
          li.selected-contact(ng-repeat='contact in vm.selectedContacts')
            persondetails(ng-if='contact.type=="Person"', person='contact')
            persondetails(ng-if='contact.type=="Company"', company='contact')
