extends layout

block content
  .app(ng-app='clioClientSearch')
    //div(ng-include="'hello.html'")
    .search(ng-controller='SearchController')
      form.form-inline
        input.form-control(type='text', ng-model='searchTerm', placeholder='Search for Clients')
        input.btn.btn-default(type='submit', ng-click='search()') Search
      .search-results.col-md-8
        .search-account.col-xs-4(ng-repeat="account in vm.accounts")
          h4 {{account.name}}
          ul.account-contacts
            li.account-contact(ng-repeat="contact in account.contacts")
              p {{contact.name}}