extends layout

block content
  .app(ng-app='clioClientSearch')
    .search(ng-controller='SearchController')
      form.form-inline
        input.form-control(type='text', ng-model='searchTerm', placeholder='Search for Clients')	
        select(ng-model='contactStatus', ng-options="status.name for status in vm.contactStatuses",[requires])
          option(value="") -- choose status --
        input.btn.btn-default(type='submit', ng-click='search()') Search
      .search-results.col-md-6(ng-if='hasSearched')
        div.results(ng-switch="vm.isLoading")
          clioloader(ng-switch-when='true')
          .grid-style(ng-grid="vm.gridOptions", ng-switch-when='false')
