!!! 5
html
  head
    title Bootstrap 101 Template
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    title= title
    link(rel='stylesheet', href='/css/app.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Clio Conflict Checker
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/', data-toggle="pill") Home
            li
              a(href='/admin', data-toggle="pill") Admin
            if req.isAuthenticated()
              li
                a(href='/logout',data-toggle="pill") Logout
            else
              li
                a(href='/login', data-toggle="pill") Login

    .container
      #title-space
        h1= title
      block content
    script(src='/js/app.js')
