if flash
  p= flash
p Please enter your login information
form(action='login', method='post')
  label Email
  input(type='text', name='username')
  label Password
  input(type='password', name='password')
  input(type='submit') Submit