extends layout

block content
  h1= title
  nav
    - var nav = {}; nav[title] = 'active'
    ul
      li(class='#{nav.Query}') Enter Query 
      li(class='#{nav.Admin}') Admin  
  p Enter the Name below: