#logo {
  float: left;
}
#title-space {
  text-align: center;
}
nav {
  margin-top: 150px;
  font-size: 25px;
  margin-left: 350px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#query-area {
	margin-top: 100px;
	text-align: center;
}

#admin-area {
	margin-top: 100px;
	text-align: center;
}