#title-space{margin:35px 0 35px}
body{padding:50px}
.search input[type='text']{width:50%;margin-right:20px}
.search .search-results{margin-top:35px;}
.search .search-results .search-account{border:3px solid #eee;-webkit-border-radius:5px;border-radius:5px}
#admin-area header{margin-bottom:20px;}
#admin-area header h4{display:inline;margin-right:30px}
