#title-space
  //text-align: center
  margin: 35px 0 35px
body
  padding: 50px
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.search
  input[type='text']
    width: 50%
    margin-right: 20px