@import 'nib'

person-color = #CCB69F
person-color-dark = #726659
person-font-color = #634523

company-color = #8AA4B0
company-color-dark = #394348
company-font-color = #16323E

border-color = #ccc
border-style = 2px solid border-color

navbar-color = #CC5500
body-color = #D6D2C4

#title-space
  margin: 35px 0 35px
body
  padding: 50px
  background-color: body-color

search-box-padding()
  padding: 0 15px 0 15px


.navbar-fixed-top
  background-color: navbar-color
  // background-image: -moz-linear-gradient(top, #333333, #222222)
  // background-image: -ms-linear-gradient(top, #333333, #222222)
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222))
  // background-image: -webkit-linear-gradient(top, #333333, #222222)
  // background-image: -o-linear-gradient(top, #333333, #222222)
  // background-image: linear-gradient(top, #333333, #222222)
  // background-repeat: repeat-x


.search
  input[type='text']
    width: 50%
    margin-right: 20px
    // background-color: #C8C9C7
    .search-results
    margin-top: 35px
    float: left
    .search-account
      header
        border-bottom: border-style
        search-box-padding()
        margin-bottom: 0
        padding-bottom: 10px

      .loader
        search-box-padding()
        margin: 10px 0

      .results
        max-height: 230px
        overflow-y: scroll

      ul
        margin: 0

      margin-right: 10px
      margin-bottom: 5px
      border: 3px solid #eee
      border-radius: 5px
      padding: 0

#admin-area
  header  
    margin-bottom: 20px
    h4
      display: inline
      margin-right: 30px
  .nav
    font-size: 24px

.summary
  height: 35px
  width: 100%
  search-box-padding()
  border-bottom: 2px solid #ccc
  position: relative
  padding-top: 7px
  .glyphicon
    float: left
    margin-right: 10px
  .details
    float: left
  p
    margin: 0

.person-summary
  color: person-font-color
  background-color: person-color
  &:hover
    background-color: person-color-dark
  &.selected
    background-color: person-color-dark


.company-summary
  color: company-font-color
  background-color: company-color
  &:hover
    background-color: company-color-dark
  &.selected
    background-color: company-color-dark

.contact-details
  ul
    list-style-type: none
    padding: 0
    li
      padding: 0
      margin: 0

details()
  padding: 0
  border: border-style
  article
    padding: 5px
  header
    width: 100%
    margin: 0
    padding: 10px 5px
    h5.name
      float: left
      margin: 0
      padding: 0
    h6.account
      float: right
      margin: 0
      padding: 0
    span.glyphicon
      float: right
      padding-left: 5px

.person-details
  details()
  header
    background-color: person-color
    color: person-font-color

.company-details
  details()
  header
    background-color: company-color
    color: company-font-color

.table-bordered
  border: 1px solid border-color
  thead > tr > th
    font-size: 11px
    border: 1px solid border-color
  tbody > tr > td
    border: 1px solid border-color
