@import 'nib'

#title-space
  //text-align: center
  margin: 35px 0 35px
body
  padding: 50px
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.search
  input[type='text']
    width: 50%
    margin-right: 20px
  .search-results
    margin-top: 35px
    .search-account
      border: 3px solid #eee
      border-radius: 5px

#admin-area
  header  
    margin-bottom: 20px
    h4
      display: inline
      margin-right: 30px
