#title-space{margin:35px 0 35px}
body{padding:50px;background-color:#d6d2c4}
.navbar-fixed-top{background-color:#c50}
.search input[type='text']{width:50%;margin-right:20px;}
.search input[type='text'] .search-results,.search input[type='text'] margin-top: 35px,.search input[type='text'] float: left,.search input[type='text'] .search-account{margin-right:10px;margin-bottom:5px;border:3px solid #eee;-webkit-border-radius:5px;border-radius:5px;padding:0}
.search input[type='text'] .search-results header,.search input[type='text'] margin-top: 35px header,.search input[type='text'] float: left header,.search input[type='text'] .search-account header{border-bottom:2px solid #ccc;padding:0 15px 0 15px;margin-bottom:0;padding-bottom:10px}
.search input[type='text'] .search-results .loader,.search input[type='text'] margin-top: 35px .loader,.search input[type='text'] float: left .loader,.search input[type='text'] .search-account .loader{padding:0 15px 0 15px;margin:10px 0}
.search input[type='text'] .search-results .results,.search input[type='text'] margin-top: 35px .results,.search input[type='text'] float: left .results,.search input[type='text'] .search-account .results{max-height:230px;overflow-y:scroll}
.search input[type='text'] .search-results ul,.search input[type='text'] margin-top: 35px ul,.search input[type='text'] float: left ul,.search input[type='text'] .search-account ul{margin:0}
#admin-area header{margin-bottom:20px;}
#admin-area header h4{display:inline;margin-right:30px}
#admin-area .nav{font-size:24px}
.summary{height:35px;width:100%;padding:0 15px 0 15px;border-bottom:2px solid #ccc;position:relative;padding-top:7px;}
.summary .glyphicon{float:left;margin-right:10px}
.summary .details{float:left}
.summary p{margin:0}
.person-summary{color:#634523;background-color:#ccb69f;}
.person-summary:hover{background-color:#726659}
.person-summary.selected{background-color:#726659}
.company-summary{color:#16323e;background-color:#8aa4b0;}
.company-summary:hover{background-color:#394348}
.company-summary.selected{background-color:#394348}
.contact-details ul{list-style-type:none;padding:0;}
.contact-details ul li{padding:0;margin:0}
.person-details{padding:0;border:2px solid #ccc;}
.person-details article{padding:5px}
.person-details header{width:100%;margin:0;padding:10px 5px;}
.person-details header h5.name{float:left;margin:0;padding:0}
.person-details header h6.account{float:right;margin:0;padding:0}
.person-details header span.glyphicon{float:right;padding-left:5px}
.person-details header{background-color:#ccb69f;color:#634523}
.company-details{padding:0;border:2px solid #ccc;}
.company-details article{padding:5px}
.company-details header{width:100%;margin:0;padding:10px 5px;}
.company-details header h5.name{float:left;margin:0;padding:0}
.company-details header h6.account{float:right;margin:0;padding:0}
.company-details header span.glyphicon{float:right;padding-left:5px}
.company-details header{background-color:#8aa4b0;color:#16323e}
.table-bordered{border:1px solid #ccc;}
.table-bordered thead > tr > th{font-size:11px;border:1px solid #ccc}
.table-bordered tbody > tr > td{border:1px solid #ccc}
.grid-style{margin-top:30px;height:400px}
