extends ../layout

block content
  .row
  .col-md-6
    if flash
      p= flash
    p Update user info
    form(action="/users/" + user.id, method='POST', role='form')
      input(type='hidden', name='_csrf', value=token)
      input(type='hidden', name='_method', value='PUT')
      .form-group
        label Email
        input.form-control(type='text', value=user.email, disabled)
      .form-group
        label Admin
        - console.log(user.admin)
        input.form-control(type='checkbox', name='admin', checked=user.admin.toString())
      input.btn.btn-default(type='submit') Submit